header {
	background-image: url("../images/keyboard.jpg");
	background-size: 100% 67%;
	font-family: "Sumana", serif;
	font-size: 16px;
	color: #FFFFEF;
	text-shadow: 6px 2px 15px #000000;
	height: 175px;
	padding: 50px;
	opacity: 0.95;
}
h3 {
	margin: 33px;
}
body {
	font-family: "Sumana", serif;
	font-size: 24px;
}

#toc {
	width: 20%;
	height: 780px;
	float: left;
    background-color: #000000;
}

#content {
	width: 80%;
	height: 780px;
    float: right;
    background-color: #f0f0f0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}
ul {
	list-style-type: none;
}